In [ ]:
import pandas as pd
from sklearn import linear_model
import statsmodels.api as sm
import numpy as np

In [ ]:
df_ds = pd.read_csv('/content/disease_v2.csv')
df_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6186 entries, 0 to 6185
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Pathogen              6186 non-null   object
 1   Reaction              5643 non-null   object
 2   Species               1969 non-null   object
 3   Infection             1372 non-null   float64
 4   Part                  3585 non-null   object
 5   Notes                 2139 non-null   object
 6   Info                  1150 non-null   object
 7   Accession             146 non-null    object
 8   Clone name + Refcode  6186 non-null   object
dtypes: float64(1), object(8)
memory usage: 435.1+ KB

In [ ]:
df_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6186 entries, 0 to 6185
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Pathogen              6186 non-null   object
 1   Reaction              5643 non-null   object
 2   Species               1969 non-null   object
 3   Infection             1372 non-null   float64
 4   Part                  3585 non-null   object
 5   Notes                 2139 non-null   object
 6   Info                  1150 non-null   object
 7   Accession             146 non-null    object
 8   Clone name + Refcode  6186 non-null   object
dtypes: float64(1), object(8)
memory usage: 435.1+ KB

In [ ]:
df_fl = pd.read_csv('/content/flower_v2.csv')
df_fl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4061 entries, 0 to 4060
Data columns (total 40 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Self compatibility    1578 non-null   object
 1   Ovule number          2272 non-null   float64
 2   Ligule colour         2511 non-null   object
 3   Stamen colour         2512 non-null   object
 4   Sepal colour          706 non-null    object
 5   Sepal width           590 non-null    float64
 6   Sepal length          2611 non-null   float64
 7   Sepal orientation     31 non-null     object
 8   Ligule length         567 non-null    float64
 9   Ligule width          2491 non-null   float64
 10  Ovary colour          507 non-null    object
 11  Ovary width           567 non-null    float64
 12  Ovary length          568 non-null    float64
 13  Style length          2492 non-null   float64
 14  Staminode colour      299 non-null    object
 15  Staminode length      587 non-null    float64
 16  Stamen size           60 non-null     object
 17  Sepal size            59 non-null     object
 18  Ligule size           60 non-null     object
 19  Pedicel size          60 non-null     object
 20  Bud colour            134 non-null    object
 21  Guide line length     135 non-null    float64
 22  Ribbon length         205 non-null    float64
 23  Ribbon colour         135 non-null    object
 24  Style colour          134 non-null    object
 25  Pedicel length        264 non-null    float64
 26  Hairs                 208 non-null    object
 27  Pigmented glands      207 non-null    object
 28  Horns                 135 non-null    object
 29  Notes                 408 non-null    object
 30  Sepal length width    159 non-null    float64
 31  Ligule length width   139 non-null    float64
 32  Ovary length width    140 non-null    float64
 33  Pigmented spot        67 non-null     object
 34  Info                  405 non-null    object
 35  Sepal shape           17 non-null     object
 36  Ligule shape          18 non-null     object
 37  Accession             60 non-null     object
 38  Petal length          72 non-null     float64
 39  Clone name + Refcode  4061 non-null   object
dtypes: float64(16), object(24)
memory usage: 1.2+ MB

In [ ]:
df_fl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4061 entries, 0 to 4060
Data columns (total 40 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Self compatibility    1578 non-null   object
 1   Ovule number          2272 non-null   float64
 2   Ligule colour         2511 non-null   object
 3   Stamen colour         2512 non-null   object
 4   Sepal colour          706 non-null    object
 5   Sepal width           590 non-null    float64
 6   Sepal length          2611 non-null   float64
 7   Sepal orientation     31 non-null     object
 8   Ligule length         567 non-null    float64
 9   Ligule width          2491 non-null   float64
 10  Ovary colour          507 non-null    object
 11  Ovary width           567 non-null    float64
 12  Ovary length          568 non-null    float64
 13  Style length          2492 non-null   float64
 14  Staminode colour      299 non-null    object
 15  Staminode length      587 non-null    float64
 16  Stamen size           60 non-null     object
 17  Sepal size            59 non-null     object
 18  Ligule size           60 non-null     object
 19  Pedicel size          60 non-null     object
 20  Bud colour            134 non-null    object
 21  Guide line length     135 non-null    float64
 22  Ribbon length         205 non-null    float64
 23  Ribbon colour         135 non-null    object
 24  Style colour          134 non-null    object
 25  Pedicel length        264 non-null    float64
 26  Hairs                 208 non-null    object
 27  Pigmented glands      207 non-null    object
 28  Horns                 135 non-null    object
 29  Notes                 408 non-null    object
 30  Sepal length width    159 non-null    float64
 31  Ligule length width   139 non-null    float64
 32  Ovary length width    140 non-null    float64
 33  Pigmented spot        67 non-null     object
 34  Info                  405 non-null    object
 35  Sepal shape           17 non-null     object
 36  Ligule shape          18 non-null     object
 37  Accession             60 non-null     object
 38  Petal length          72 non-null     float64
 39  Clone name + Refcode  4061 non-null   object
dtypes: float64(16), object(24)
memory usage: 1.2+ MB

In [ ]:
df_ds_fl = pd.merge(df_ds, df_fl, on='Clone name + Refcode', how='inner')

In [ ]:
df_ds_fl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 987 entries, 0 to 986
Data columns (total 48 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Pathogen              987 non-null    object
 1   Reaction              723 non-null    object
 2   Species               238 non-null    object
 3   Infection             464 non-null    float64
 4   Part                  511 non-null    object
 5   Notes_x               551 non-null    object
 6   Info_x                185 non-null    object
 7   Accession_x           390 non-null    object
 8   Clone name + Refcode  987 non-null    object
 9   Self compatibility    789 non-null    object
 10  Ovule number          226 non-null    float64
 11  Ligule colour         369 non-null    object
 12  Stamen colour         225 non-null    object
 13  Sepal colour          343 non-null    object
 14  Sepal width           226 non-null    float64
 15  Sepal length          226 non-null    float64
 16  Sepal orientation     0 non-null      object
 17  Ligule length         226 non-null    float64
 18  Ligule width          226 non-null    float64
 19  Ovary colour          93 non-null     object
 20  Ovary width           226 non-null    float64
 21  Ovary length          226 non-null    float64
 22  Style length          226 non-null    float64
 23  Staminode colour      351 non-null    object
 24  Staminode length      226 non-null    float64
 25  Stamen size           161 non-null    object
 26  Sepal size            158 non-null    object
 27  Ligule size           161 non-null    object
 28  Pedicel size          161 non-null    object
 29  Bud colour            189 non-null    object
 30  Guide line length     190 non-null    float64
 31  Ribbon length         190 non-null    float64
 32  Ribbon colour         190 non-null    object
 33  Style colour          189 non-null    object
 34  Pedicel length        226 non-null    float64
 35  Hairs                 190 non-null    object
 36  Pigmented glands      190 non-null    object
 37  Horns                 190 non-null    object
 38  Notes_y               97 non-null     object
 39  Sepal length width    93 non-null     float64
 40  Ligule length width   93 non-null     float64
 41  Ovary length width    93 non-null     float64
 42  Pigmented spot        93 non-null     object
 43  Info_y                40 non-null     object
 44  Sepal shape           17 non-null     object
 45  Ligule shape          18 non-null     object
 46  Accession_y           390 non-null    object
 47  Petal length          0 non-null      float64
dtypes: float64(17), object(31)
memory usage: 377.8+ KB

In [ ]:
df_bn = pd.read_csv('/content/bean_v1.csv')
df_bn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4562 entries, 0 to 4561
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Number                3869 non-null   object
 1   Total wet weight      2267 non-null   object
 2   Dry weight            792 non-null    object
 3   Cotyledon dry weight  2458 non-null   object
 4   Cotyledon length      2301 non-null   object
 5   Cotyledon width       2301 non-null   object
 6   Cotyledon thickness   377 non-null    object
 7   Colour purple         620 non-null    object
 8   Colour light purple   1232 non-null   object
 9   Colour white          1309 non-null   object
 10  Colour mottled        531 non-null    object
 11  Shape                 2291 non-null   object
 12  Length                808 non-null    object
 13  Width                 808 non-null    object
 14  Thickness             670 non-null    object
 15  Cotyledon wet weight  825 non-null    object
 16  Wet weight            606 non-null    object
 17  Number (max)          430 non-null    float64
 18  Colour dark purple    1115 non-null   object
 19  Info                  654 non-null    object
 20  Colour                2155 non-null   object
 21  Size                  632 non-null    object
 22  Notes                 480 non-null    object
 23  Total dry weight      206 non-null    float64
 24  Colour grey           292 non-null    object
 25  Accession             98 non-null     object
 26  Clone name + Refcode  4562 non-null   object
dtypes: float64(2), object(25)
memory usage: 962.4+ KB

In [ ]:
df_ds_fl_bn = pd.merge(df_ds_fl, df_bn, on='Clone name + Refcode', how='inner')

In [ ]:
df_ds_fl_bn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2224 entries, 0 to 2223
Data columns (total 74 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Pathogen              2224 non-null   object
 1   Reaction              1273 non-null   object
 2   Species               862 non-null    object
 3   Infection             1712 non-null   float64
 4   Part                  1687 non-null   object
 5   Notes_x               1802 non-null   object
 6   Info_x                643 non-null    object
 7   Accession_x           1638 non-null   object
 8   Clone name + Refcode  2224 non-null   object
 9   Self compatibility    2032 non-null   object
 10  Ovule number          228 non-null    float64
 11  Ligule colour         377 non-null    object
 12  Stamen colour         221 non-null    object
 13  Sepal colour          348 non-null    object
 14  Sepal width           228 non-null    float64
 15  Sepal length          228 non-null    float64
 16  Sepal orientation     0 non-null      object
 17  Ligule length         228 non-null    float64
 18  Ligule width          228 non-null    float64
 19  Ovary colour          91 non-null     object
 20  Ovary width           228 non-null    float64
 21  Ovary length          228 non-null    float64
 22  Style length          228 non-null    float64
 23  Staminode colour      362 non-null    object
 24  Staminode length      228 non-null    float64
 25  Stamen size           170 non-null    object
 26  Sepal size            167 non-null    object
 27  Ligule size           170 non-null    object
 28  Pedicel size          170 non-null    object
 29  Bud colour            191 non-null    object
 30  Guide line length     192 non-null    float64
 31  Ribbon length         192 non-null    float64
 32  Ribbon colour         192 non-null    object
 33  Style colour          191 non-null    object
 34  Pedicel length        228 non-null    float64
 35  Hairs                 192 non-null    object
 36  Pigmented glands      192 non-null    object
 37  Horns                 192 non-null    object
 38  Notes_y               101 non-null    object
 39  Sepal length width    91 non-null     float64
 40  Ligule length width   91 non-null     float64
 41  Ovary length width    91 non-null     float64
 42  Pigmented spot        91 non-null     object
 43  Info_y                33 non-null     object
 44  Sepal shape           16 non-null     object
 45  Ligule shape          14 non-null     object
 46  Accession_y           1638 non-null   object
 47  Petal length          0 non-null      float64
 48  Number                1809 non-null   object
 49  Total wet weight      36 non-null     object
 50  Dry weight            1809 non-null   object
 51  Cotyledon dry weight  192 non-null    object
 52  Cotyledon length      101 non-null    object
 53  Cotyledon width       101 non-null    object
 54  Cotyledon thickness   101 non-null    object
 55  Colour purple         297 non-null    object
 56  Colour light purple   382 non-null    object
 57  Colour white          398 non-null    object
 58  Colour mottled        192 non-null    object
 59  Shape                 435 non-null    object
 60  Length                1900 non-null   object
 61  Width                 1900 non-null   object
 62  Thickness             1900 non-null   object
 63  Cotyledon wet weight  192 non-null    object
 64  Wet weight            0 non-null      object
 65  Number (max)          0 non-null      float64
 66  Colour dark purple    291 non-null    object
 67  Info                  1671 non-null   object
 68  Colour                154 non-null    object
 69  Size                  223 non-null    object
 70  Notes                 99 non-null     object
 71  Total dry weight      0 non-null      float64
 72  Colour grey           0 non-null      object
 73  Accession             1688 non-null   object
dtypes: float64(19), object(55)
memory usage: 1.3+ MB

In [ ]:
# Set display options to show all columns
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)

In [ ]:
# Set display option to show all rows
pd.set_option('display.max_rows', None)

In [ ]:
missing_percentage = df_ds_fl_bn.isnull().mean() * 100
  # Create a DataFrame to display the results
missing_info = pd.DataFrame({
      'Column': missing_percentage.index,
      'Missing Percentage': missing_percentage.values })

print(missing_info.sort_values(by=['Missing Percentage']))

                  Column  Missing Percentage
0               Pathogen            0.000000
8   Clone name + Refcode            0.000000
9     Self compatibility            8.633094
62             Thickness           14.568345
61                 Width           14.568345
60                Length           14.568345
50            Dry weight           18.660072
48                Number           18.660072
5                Notes_x           18.974820
3              Infection           23.021583
73             Accession           24.100719
4                   Part           24.145683
67                  Info           24.865108
7            Accession_x           26.348921
46           Accession_y           26.348921
1               Reaction           42.760791
2                Species           61.241007
6                 Info_x           71.088129
59                 Shape           80.440647
57          Colour white           82.104317
56   Colour light purple           82.823741
11         Ligule colour           83.048561
23      Staminode colour           83.723022
13          Sepal colour           84.352518
55         Colour purple           86.645683
66    Colour dark purple           86.915468
22          Style length           89.748201
21          Ovary length           89.748201
20           Ovary width           89.748201
18          Ligule width           89.748201
17         Ligule length           89.748201
34        Pedicel length           89.748201
15          Sepal length           89.748201
14           Sepal width           89.748201
24      Staminode length           89.748201
10          Ovule number           89.748201
69                  Size           89.973022
12         Stamen colour           90.062950
63  Cotyledon wet weight           91.366906
58        Colour mottled           91.366906
51  Cotyledon dry weight           91.366906
36      Pigmented glands           91.366906
32         Ribbon colour           91.366906
35                 Hairs           91.366906
31         Ribbon length           91.366906
37                 Horns           91.366906
30     Guide line length           91.366906
33          Style colour           91.411871
29            Bud colour           91.411871
25           Stamen size           92.356115
27           Ligule size           92.356115
28          Pedicel size           92.356115
26            Sepal size           92.491007
68                Colour           93.075540
38               Notes_y           95.458633
52      Cotyledon length           95.458633
53       Cotyledon width           95.458633
54   Cotyledon thickness           95.458633
70                 Notes           95.548561
19          Ovary colour           95.908273
40   Ligule length width           95.908273
39    Sepal length width           95.908273
41    Ovary length width           95.908273
42        Pigmented spot           95.908273
49      Total wet weight           98.381295
43                Info_y           98.516187
44           Sepal shape           99.280576
45          Ligule shape           99.370504
72           Colour grey          100.000000
47          Petal length          100.000000
64            Wet weight          100.000000
65          Number (max)          100.000000
16     Sepal orientation          100.000000
71      Total dry weight          100.000000

In [ ]:
df_ph = pd.read_csv('/content/phenotyping_v2.csv')
df_ph.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295 entries, 0 to 294
Data columns (total 11 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Accession                            295 non-null    object
 1   Light saturated photosynthetic rate  295 non-null    float64
 2   Stomatal conductance                 295 non-null    float64
 3   Transpiration rate                   295 non-null    float64
 4   Intrinsic water use efficiency       295 non-null    float64
 5   Instantaneous water use efficiency   295 non-null    float64
 6   Flush size                           295 non-null    float64
 7   Leaf area                            295 non-null    float64
 8   Leaf dry weight                      295 non-null    float64
 9   Specific leaf area                   295 non-null    float64
 10  Clone name + Refcode                 295 non-null    object
dtypes: float64(9), object(2)
memory usage: 25.5+ KB

In [ ]:
df_ds_ph = pd.merge(df_ds, df_ph, on='Clone name + Refcode', how='inner')

In [ ]:
df_ds_ph.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 19 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Pathogen                             0 non-null      object
 1   Reaction                             0 non-null      object
 2   Species                              0 non-null      object
 3   Infection                            0 non-null      float64
 4   Part                                 0 non-null      object
 5   Notes                                0 non-null      object
 6   Info                                 0 non-null      object
 7   Accession_x                          0 non-null      object
 8   Clone name + Refcode                 0 non-null      object
 9   Accession_y                          0 non-null      object
 10  Light saturated photosynthetic rate  0 non-null      float64
 11  Stomatal conductance                 0 non-null      float64
 12  Transpiration rate                   0 non-null      float64
 13  Intrinsic water use efficiency       0 non-null      float64
 14  Instantaneous water use efficiency   0 non-null      float64
 15  Flush size                           0 non-null      float64
 16  Leaf area                            0 non-null      float64
 17  Leaf dry weight                      0 non-null      float64
 18  Specific leaf area                   0 non-null      float64
dtypes: float64(10), object(9)
memory usage: 0.0+ bytes

In [ ]:
df_fr = pd.read_csv('/content/fruit_v2.csv')
df_fr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5159 entries, 0 to 5158
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Length                3278 non-null   float64
 1   Breadth               3274 non-null   float64
 2   Weight                1217 non-null   float64
 3   Length breadth ratio  1353 non-null   float64
 4   Notes                 630 non-null    object
 5   Size                  485 non-null    object
 6   Shape                 3021 non-null   object
 7   Rugosity              3841 non-null   object
 8   Ridge desc            474 non-null    object
 9   Husk thickness        1021 non-null   object
 10  Colour                3529 non-null   object
 11  Basal constriction    3059 non-null   object
 12  Apex form             3020 non-null   object
 13  Husk weight           273 non-null    float64
 14  Furrow depth          671 non-null    object
 15  Hardness              1992 non-null   object
 16  Info                  2128 non-null   object
 17  Pods per tree         342 non-null    float64
 18  Furrow desc           2196 non-null   object
 19  Accession             73 non-null     object
 20  Clone name + Refcode  5159 non-null   object
dtypes: float64(6), object(15)
memory usage: 846.5+ KB